<launch>


<include file="$(find camera_calibrate_mono)/launch/mono_cam.launch">
</include>

<!-- Run frame detector -->

<!--
<node pkg="opencv_drone" type="FrameDetector_v2.py" name="frame_detector_node" respawn="true" output="screen">

    <param name="depth_image_topic" value="/d400/depth/image_rect_raw"/>
    
    <param name="view_result_flag" value="false"/>
    
    <param name="image_width_px" value="1280"/>
    <param name="image_height_px" value="720"/>

</node>
-->

<!-- Run fly by line -->
<node pkg="opencv_drone" type="fly_by_line.py" name="fly_by_line" respawn="true" output="screen">

    <param name="cam_img_topic" value="/d400/color/image_raw"/>
    <param name="cam_down_img_topic" value="/mono_cam_down/camera_mono/image_raw"/>
    
    <param name="view_result_flag" value="false"/>
    
    <param name="image_width_px" value="1280"/>
    <param name="image_height_px" value="720"/>
    
    <param name="maxb" value="0"/>
    <param name="maxg" value="0"/>
    <param name="maxr" value="0"/>
    
    <param name="minb_down" value="0"/>
    <param name="ming_down" value="0"/>
    <param name="minr_down" value="0"/>
    
    <param name="maxb_down" value="146"/>
    <param name="maxg_down" value="139"/>
    <param name="maxr_down" value="105"/>
    
    <param name="limit_f_channel" value="100"/>
    <param name="limit_d_channel" value="80"/>
    
    <param name="h_trapeze" value="100"/>
    <param name="cut_tr" value="170"/>    
    
    <param name="x_forvard" value="1.8"/>
</node>



</launch>
